.container {
  .hover-details {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 20px;
  }
  padding: 0 10%;
  .school-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
  }
  .students-list-container {
    .student-item {
      .students-cont {
        margin: 20px;
      }
      .students-list {
        display: flex;
        margin: 15px 0;
      }
      .class-item-name {
        background: #ccc;
        border-radius: 5px;
        padding: 10px 5px;
      }
      .student-item-name {
        cursor: pointer;
        background: #eee;
        border-radius: 5px;
        padding: 10px;
        margin-right: 10px;
        transition: 0.3s;
        &:hover {
          background: #ccc;
        }
      }
    }
  }
  .sidenav {
    text-align: center;
    position: fixed;
    right: 0;
    height: 100%;
    width: 20%;
    background: #ccc;
    top: 0;
    .selected-student {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 20px;
    }
    .close-sidenav {
      background: #000;
      color: #fff;
      position: absolute;
      left: 10px;
      border-radius: 50%;
      cursor: pointer;
      padding: 5px;
      height: 11px;
      font-size: 10px;
      top: 10px;
      width: 9px;
    }
  }
}